* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}

.container-left {
  display: inline-block;
  width: 60%;
}
.container-right {
  display: inline-block;
  background-color: rgb(93, 93, 125, 0.16);
  height: 100vh;
  width: 40%;
  position: absolute;
}
img {
  position: relative;
  top: 25%;
  right: 120px;
}

h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  color: beige;
}

p {
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
